<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="photogallery.css">
    <title>Photo Gallery</title>
</head>
<body>
    <header class="site-header">
        <a href="#" class="artistname">Tom Misch</a>
        <nav class="nav">
            <ul class="list">
                <li><a href="/home"> Homepage </a></li>
                <li><a href="/profile"> Profile</a></li>
                <li><a href="/works"> Works </a></li>
                </ul>
    </nav>
    </header>
        <div class="main-container">
            <h1>Photo Gallery</h1>
            
        </div>
        <div class="container-images">
            <div class="image1"> 
                <img src="/images/Tidal_Wave_Gif_1.gif">
            </div> 
            <div class="image2"> 
                <img src="/images/Tidal_Wave_Gif_2.gif">
            </div> 
            <div class="image3"> 
                <img src="/images/Tom-Misch-tidal-waves-static2.png">
            </div> 
            <div class="image4"> 
                <img src="/images/Tom-Misch-tidal-waves-static.png">
            </div> 
            <div class="image5"> 
                <img src="/images/Tom-Misch-static3.png">
            </div> 
            <div class="image6"> 
                <img src="/images/Tidal_Wave_Gif_3.gif">
            </div> 
        </div>





        <embed src="/images/Tom Misch & Yussef Dayes - Tidal Wave (Official Audio).mp3" loop="true" autostart="true" width="2" height="0">   

</body>
</html>