<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="profilestyle.css">
    <title>XYZ</title>
</head>
<body>
        <header class="site-header">
            <a href="#" class="artistname">Tom Misch</a>
            <nav class="nav">
            <ul class="list">
                <li><a href="/home"> Homepage</a></li>
                <li><a href="/works"> Works </a></li>
                <li><a href="/photogallery"> Photo Gallery </a></li>
            </ul>
        </nav>
        </header>
            <div class="main-container">
                <h1 class="maintitle">The inspiration behind Tidal Wave</h1>
                <br> <br> <br> 
                <a class="lyrics"> 
                    <i>Everybody knows inside that this won't stop 
                    The rain comin' down tonight, we just watch <br>
                    I know it's too late, I had so much I wanna say
                    I'll just have to wait<br>
                    Everybody knows we're done as the lights go off
                    Had all the time in the world and now it's lost<br>
                    The sky is blood red, it's the last time you'll reach across<br>
                    Slippin' away <br></i>
                    </a>
            </div>
            <embed src="/images/Tom Misch & Yussef Dayes - Tidal Wave (Official Audio).mp3" loop="true" autostart="true" width="2" height="0"> 
</body>
</html>