<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Works</title>
</head>
<body>
    <h1>Tom Misch: His Work</h1>
    <ul>
        <li><a href="/home"> Go back to the homepage</a></li>
        <li><a href="/profile"> About Tom Misch </a></li>
        <li><a href="/photogallery"> Photo Gallery </a></li>
        </ul>
</body>
</html>