<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="workstyle.css">
    <title>Work</title>
</head>
<body>
    <header class="site-header">
        <a href="#" class="artistname">Tom Misch</a>
        <nav class="nav">
        <ul class="list">
            <li><a href="/home"> Homepage</a></li>
            <li><a href="/profile"> Profile</a></li>
            <li><a href="/photogallery"> Photo Gallery </a></li>
        </ul>
    </nav>
    </header>
        <div class="main-container">
            <h1 class="maintitle">Tidal Wave: the video</h1>
            
            <a class="lyrics"> 
                <!-- <iframe class="youtubevideo" width="650" height="430" src="https://youtu.be/o-llwv4pLrg">
                </iframe> -->

                <iframe width="560" height="315" src="https://www.youtube.com/embed/o-llwv4pLrg?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </a>
            </div>

    </body>
</html>