@font-face {
    font-family: "Geometric";
    src: url("/fonts/urw-geometric-cufonfonts/URWGeometricBold.otf");
}

body, html {
    height: 100%;
    width: 100%;
    background-image: url('/images/slowdown.gif') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
    color: #E7E7BD;
    font-family: 'Geometric';

}

header {
    margin-left: 40px;
    margin-right: 40px;

}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a {
    text-decoration: none;
    color: #E7E7BD;

}

.list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
    gap: 40px;
    margin-right: 40px;
    list-style: none;
    
}
/*
.main-container {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 300;
    font-size: 44px;
    width: 600px;
    height: 100px;
    text-align: center;
    
}
*/

.main-container {
    margin: auto;
  width: 60%;
  padding: 10px;
  font-weight: 300;
  font-size: 44px;
  text-align: center;

}

.maintitle {
    font-size: 50px;
    margin: 0px
}

.lyrics {
    font-size: 20px;
    margin: 0px
}